<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="InsightEntities" connectionString="metadata=res://*/InsightModel.csdl|res://*/InsightModel.ssdl|res://*/InsightModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=brvdbsqlp24.corporate.administaff.com\INSTANCE1;initial catalog=Insight_DEV;persist security info=True;user id=infradba_account;password=~All4114All!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

</configuration>
